.Rproj.user
Meta/.Rapp.history
inst/.DS_Store
.Rhistory
.DS_Store
add_tax_dbs.Rmd
doc
Meta
how_to_add_synonyms.Rmd
add_tax_tab_from_csv.Rmd
README.Rmd
NEWS.Rmd
/doc/
/Meta/
assign.ensembleTax_tutorial.Rmd
taxmapper_tutorial.Rmd
